body {
    background-color: lightblue;
  }
  
  h1 {
    color: black;
    text-align: center;
    font-size: 35px;
  }
  
  #one{
    font-family: sans-serif;
    font-size: 20px;
    padding: 25px;
    margin:30px;
    background-color: blueviolet;
    border-top-left-radius: 20px;
    border-bottom-right-radius:20px;
    border-style: dashed;
  }
  #two{
    font-family: 'Gill Sans';
    font-size: 20px;
    padding: 25px;
    margin:30px;
    background-color: blue;
    border-top-left-radius: 20px;
    border-bottom-right-radius:20px;
    border-style: dashed;
  }